/** @format */

.sw-loading-container {
	width: 100%;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sw-loading-svg {
	width: 30px;
}

.sw-loading-title {
	color: #ababab;
}
